<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Stephan Hügel</string>
	<key>Builder Version</key>
	<string>7534.53.10</string>
	<key>CFBundleDisplayName</key>
	<string>HumHum User Ignore</string>
	<key>CFBundleIdentifier</key>
	<string>com.sth.hhexpungesafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>expunge.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://humhum.be/*/*.html*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Remove user comments from HH threads</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/downloads/urschrei/HH-Expunge/update.plist</string>
	<key>Website</key>
	<string>https://github.com/urschrei</string>
</dict>
</plist>
