<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.sth.hhexpungesafari</string>
       <key>Developer Identifier</key>
       <string>BBFMDP3YE5</string>
       <key>CFBundleVersion</key>
       <string>1.3.4</string>
       <key>CFBundleShortVersionString</key>
       <string>1.3.4</string>
       <key>URL</key>
       <string>http://github.com/downloads/urschrei/HH-Expunge/HH-expunge_134.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
